<table class="table border 2 px solid" >
    <thead>
        <tr>
            <th scope="col">Index</th>
            <th scope="col">Task Name</th>
            <th scope="col">Complete</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
       

      
        <tr *ngFor="let list of todoList" >
            <td id="test">{{list.id}}</td>
            <td id="test">{{list.name}}</td>
            <td>
                <!-- <input type="checkbox" [checked]="list.isdone" (click)="isCompleted($event ,list.id)"> -->
                <input type="checkbox" [checked]="list.isdone"   (click)="isCompleted($event, list.id)">

               
            </td>
           
            <td>
                <button type="button" class="btn btn-danger btn-delete" (click)="deleteToDo(list.id)">Delete</button>

            </td>

          

        </tr>
   

    </tbody>
</table>

<!-- {{data|json}} -->
